<html>
<head>
    <meta charset="UTF-8">
    <title>aaaaaa</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/editormd.preview.min.css">
</head>
<body>

<h1>{{ title }}</h1>

<div id="test-editormd-view">
    <textarea style="display:none;" name="test-editormd-markdown-doc">{{ content }}</textarea>
</div>
<script src="../../jquery/jquery-3.2.1.min.js"></script>
<script src="../../editormd/lib/marked.min.js"></script>
<script src="../../editormd/lib/prettify.min.js"></script>
<script src="../../editormd/lib/raphael.min.js"></script>
<script src="../../editormd/lib/underscore.min.js"></script>
<script src="../../editormd/lib/sequence-diagram.min.js"></script>
<script src="../../editormd/lib/flowchart.min.js"></script>
<script src="../../editormd/lib/jquery.flowchart.min.js"></script>
<script src="../../js/editormd.min.js"></script>
<script src="../../js/detail.js"></script>
</body>
</html>
