<!DOCTYPE html>

<html lang="en">
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The Art Gallery Guardian">
<meta name="author" content="Hao Zhong">
<link rel="shortcut icon" type="image/x-icon" href="../static/icon/index.ico "/>
<link rel="stylesheet" type="text/css" href="/static/css/default.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/article.css"/>




<header>
    <div id="blog-title">
        <a href="">The Chosen One</a>
    </div>
    <nav>
        <ul>
            <li><a href="">Index</a></li>
            <li><a href="">Life</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>

</header>
<body>
<article>
    <h1 id="article-title">Posts
        <input type="text" id="keywords" placeholder="请输入关键词">
        <button id="search">search</button>
    </h1>


    <table id="postindex">
        <tr>
            <td>
                <a href="">test</a>
            </td>
            <td class="right">
                <time>2018/09/08</time>
            </td>
        </tr>
    </table>
</article>
<footer>
    © 2016 -Hao Zhong. Licensed under <a href="http://www.wtfpl.net/txt/copying/">WTFPL v2</a> unless otherwise
    specified. <a href="/README.html">Blog README</a>.
</footer>
<script type="text/javascript" src="/static/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>
</body>
</html>